<launch>
    <include file="$(find piper)/launch/start_single_piper.launch"/>

    <!-- <include file="$(find sensor_tools)/launch/open_single_sensor.launch"/> -->

    <node name="piper_FK" pkg="remote_operation" type="piper_FK.py" output="screen" >
        <rosparam command="load" file="$(find remote_operation)/config/piper_rand_params.yaml" />
        <!-- Parameters gripper_xyzrpy and target_joint_state loaded from YAML -->
    </node>
    <node name="piper_IK" pkg="remote_operation" type="piper_IK.py" output="screen" >
        <rosparam command="load" file="$(find remote_operation)/config/piper_rand_params.yaml" />
        <!-- Parameters gripper_xyzrpy and target_joint_state loaded from YAML -->
    </node>
    <node name="teleop_piper" pkg="remote_operation" type="teleop_piper_publish.py" output="screen" >
    </node>
</launch>
